* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;

}




.flex-container {
    width: auto;
    height: 741px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card1, .card2, .card3, .card4, .card5, .card6 {
    width: 304px;
    height: 320px;
    background-size: cover;
    box-shadow: 0px 2px 4px rgba(4, 4, 4, 0.1)
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 5px;
}

.cardimg img {
    width: 300px;
    height: 213px;
}

.cardcontent {
    width: 305px;
    height: 128px;
    align-items: center;
}

.description {
    align-items: center;
    display: flex;
    color: #757575;
    font-size: .9rem;
    font-weight: lighter;
    width: 100%;
    justify-content: space-between;
}

.fivestar {
    color: #757575;
    font-size: .9rem;
    font-weight: lighter;
    width: auto;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

